name: github-pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Dioxus Deploy"
        uses: DioxusLabs/deploy-action@0.1.1
        with:
          rootPath: "karaty"
          toolSource: "mrxiaozhuox/dioxus-cli"
